.everything {
	width: 100%;
	margin: 0 auto;

}
.leftPane {
	width: 10%;
	position: fixed;
	left: 0;
	top: 0;
	border-right: solid 1px black;
	height: 1000px;
	background: url(../images/matrix_pink.gif) no-repeat;
	background-size: 100% 1000px;
	box-sizing: border-box;

}
.rightPane {
	width: 10%;
	position: fixed;
	right: 0;
	top: 0;
	border-left: solid 1px black;
	height: 1000px;
	background: url(../images/matrix_pink.gif) no-repeat;
	background-size: 100% 1000px;
	box-sizing: border-box;

}
.container {
	font-family: 'Inconsolata', monospace;
	width: 80%;
	margin: 0 auto;
	background-color: #f0fff0;
	color: black;
	height: 1300px;
}
h6 {
	
	font-size: 20px;
 	padding: 0;
  	margin: 0;
  	text-align: center;

}
h3 {
	text-align: center;
	margin: 60px;
}
.itsLate {
	text-align: center;
	padding: 0 40px;
}
.wtf {
	text-align: center;
	margin-bottom: 50px;
}
.mainP {
	text-align: center;
}
.header {
	height: 30px;
}
#mainJoe {
	font-size: 50px;
	text-align: center;
	text-decoration: underline;
}
a:link,
a:visited {
	color: black;
}
a:hover {
	color: hotpink;
}
.aboutMe {
	width: 30%;
	margin: 120px auto;
	margin-bottom: 40px;
	border: 3px black;
	border-style: solid dotted;
	padding: 15px;


}
hr.main {
	margin-top: 200px;
	width: 70%;
}
.portfolio {
	margin-top: 80px;
	width: 70%;
}

/****PORTFOLIO_PAGE_SPECIFIC****/
h2 {
	text-decoration: underline;
	padding: 20px 0px 10px 0px;
	text-align: center;
	text-shadow: .5px .5px black;
	letter-spacing: 2px;
	

}
h4 {
	padding: 0px 80px;
	text-align: center;
}
h5 {
	letter-spacing: 3px;
	font-size: 14px;
	padding: 10px 30px;
	margin-bottom: 0px;
}
img {
	height: 200px;
	border: 2px solid black;
	margin: 0px 30px 30px 30px;

}







